# Copy this file to .env.local and fill in the values.

AWS_ACCOUNT_ID=
API_SECRETS_PARAM=
PINECONE_ENV_PARAM=
PINECONE_INDEX_PARAM=
COGNITO_USER_PARAM=
COGNITO_CLIENT_PARAM=
INFRA_SECRETS_PARAM=
DYNAMODB_USER_TABLE_PARAM=
S3_PROMPTS_BUCKET=

NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_LAMBDA_URL=http://localhost:9000
