{
    "Parameters": {
      "REGION_NAME": "us-east-1",
      "API_SECRETS_PARAM": "/path/to/api/secrets",
      "PINECONE_ENV_PARAM": "/path/to/pinecone/env",
      "PINECONE_INDEX_PARAM": "/path/to/pinecone/index",
      "COGNITO_USER_PARAM": "/path/to/cognito/user/pool/id",
      "COGNITO_CLIENT_PARAM": "/path/to/cognito/app/client/id",
      "INFRA_SECRETS_PARAM": "/path/to/infrastructure/secrets",
      "DYNAMODB_USER_TABLE_PARAM": "/path/to/dynamodb/user/table"
    },
    "CreateUserFunction" : {
      "COGNITO_CLIENT_PARAM": "/path/to/cognito/app/client/id",
      "COGNITO_USER_PARAM": "/path/to/cognito/user/pool/id",
      "ENV": "development",
      "INFRA_SECRETS_PARAM": "/path/to/infrastructure/secrets",
      "REGION_NAME": "us-east-1"
    },
    "SignInFunction" : {
      "COGNITO_CLIENT_PARAM": "/path/to/cognito/app/client/id",
      "COGNITO_USER_PARAM": "/path/to/cognito/user/pool/id",
      "INFRA_SECRETS_PARAM": "/path/to/infrastructure/secrets",
      "ENV": "development",
      "REGION_NAME": "us-east-1"
    },
    "TokenRefreshFunction" : {
      "COGNITO_CLIENT_PARAM": "/path/to/cognito/app/client/id",
      "COGNITO_USER_PARAM": "/path/to/cognito/user/pool/id",
      "INFRA_SECRETS_PARAM": "/path/to/infrastructure/secrets",
      "ENV": "development",
      "REGION_NAME": "us-east-1"
    },
    "AnalyzeQueryComplexity" : {
      "ENV": "development"
    },
    "GetSimilarDocuments" : {
      "ENV": "development"
    },
    "GenerateResponseWithCitations" : {
      "ENV": "development"
    }
}
